@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
}
button, a{
    all: unset;
    cursor: pointer;

}


:root{
    --main-color : #72a1cb;
    --dark-color : #181818;
    --light-color :#dcdcdc;
    --green-color : #28a745;
    --red-color : #dc3545;
    --orange-color : #ffc107;
}
h1{
    font-size: 5rem;
    margin-bottom: 3rem;
}
h1,h2,h3,p, div,button{
    color: var(--dark-color);
}
.statu{
    color: #181818da;
    margin-left: 0.5rem;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 20rem;
    box-sizing: border-box;
}
.filters{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-sizing: border-box;
    position: relative;

}


.filter{
    display: flex;
    justify-content: center;
    background-color: var(--light-color);
    padding: 1.5rem;
    font-size: 1.25rem;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.filter:hover, .filter.active{
    background: #cfcfcf;
}

.filters::after { 
    content: '';
    /* width: 26.5%; */
    height: 2px;
    position: absolute;
    translate: -50% ;
    bottom: 0;
    background: var(--dark-color);
    border-radius: 100vmax;
    transition: 0.5s cubic-bezier(0.13, 0.42, 0.165, 1);

}


.createNewForm{
    width: 100%;
    position: relative;
    margin-top: 1rem;
}
#addNewinput{
    all: unset;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background: var(--light-color);
    color: var(--dark-color);

}
.createNewForm button{
    position: absolute;
    right: 7px;
    top: 7px;
    bottom: 7px;
    background-color: var(--main-color);
    padding: 0rem 2rem;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    transition: 0.3s;
    font-weight: 500;
}

.createNewForm button:hover{
    background: none;
    color: var(--main-color);
}

.toDoList{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    
}
.toDoEl{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    background: rgba( 114, 161, 203, 0.25 );
    box-shadow: 0 03px 15px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.toDoEl .name{
    display: inline;
}
.toDoEl .actions{
    display: flex;
    gap: 1rem;
}
.toDoEl .actions button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: var(--dark-color) 1px solid; 
    color: var(--light-color);
    opacity: 0.7;
    transition: 0.3s;
}
.toDoEl .actions button:hover{
    opacity: 1;
}

.completeBtn{
    background: var(--green-color);
}
.updateBtn{
    background: var(--orange-color);
}
.deleteBtn{
    background: var(--red-color);
}
[data-statu="completed"] .updateBtn , [data-statu="completed"] .completeBtn{
    display: none;
}
[data-statu="completed"] .name{
    text-decoration: line-through;
}


@media (max-width:1024px) {
    .container{
        padding: 5vh 10rem;
    }
}


@media (max-width:768px) {
    .container{
        padding: 5vh 5rem;
    }
    .toDoEl .actions{
        gap: 0.6rem;
    }
}


@media (max-width:550px) {
    .container{
        padding: 5vh 1rem;
    }
    .toDoEl .actions button {
        padding: 0.4rem .65rem;
        font-size: 0.9rem;
    }
}

@media (max-width:425px) {
    h1{
        font-size: 3rem;
    }
    .filter{
        font-size: 0.9rem;
    }
 }

